@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --dark-blue: hsl(209, 23%, 22%); /* Dark-Mode-Elements */
    --very-dark-blue: hsl(207, 26%, 17%); /* Dark-Mode-Background */
    --very-dark-blue-text: hsl(200, 15%, 8%); /* Light-Mode-Text */
    --dark-gray: hsl(0, 0%, 52%); /* Light-Mode-Input */
    --very-light-gray: hsl(0, 0%, 90%); /* Light-Mode-Background */
    --white: hsl(0, 0%, 100%); /* Dark-Mode-Text-&-Light-Mode-Elements */
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0 4rem;
    border-bottom: 3px solid rgba(117, 117, 117, 0.1);      
    transition: background .5s linear;
}

.title {
    font-size: 24px;
    font-weight: 800;
    transition: color .5s linear;
}

.dkMode {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    transition: color .5s linear;
}

#btn {
    visibility: hidden;
    width: 5px;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 5.938rem;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

main {
    background-color: var(--very-light-gray);
    transition: background .5s linear;
}
