.conteiner__search {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
}

/* Lista Input */

.content__search {
    display: flex;
    align-items: center;
    color: var(--dark-gray);
    transition: color .5s linear;
}

.search {
    font-family: 'Nunito Sans', sans-serif;
    width: 30rem;
    height: 3.5rem;
    padding: 0 1rem 0 4.625rem;
    border: none;
    border-radius: 5px;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.1);
    transition: background .5s linear;
}

.search::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--dark-gray);
}

.icon-search {
    position: absolute;
    left: calc(74px + 40px/2);
}

/* Lista de continentes */

.search-filter {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    height: 3.5rem;
    padding: 0 1.5rem;
    background-color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: -1px 1px 5px rgba(122, 122, 122, 0.1);
    transition: background .5s linear, color .5s linear;
    cursor: pointer;
}

.icon-arrow {
    order: 1;
    margin-left: .5rem;
}

.search-filter:hover .icon-arrow {
    transition: .5s;
    transform: rotate(-90deg);
}

.active {
    transform: rotate(-90deg);
}

.region-list {
    position: absolute; 
    display: none;
    width: 10.4rem;
    background-color: #fff;
    margin-top: .2rem;
    padding: 1.2rem 1.4rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(122, 122, 122, 0.3);
    transition: background .5s linear, color .5s linear;
}

.list-active {
    display: block;
}

.region {
    width: 10rem;
    margin-bottom: .8rem;
    cursor: pointer;
}

.region:hover {
    font-weight: 600;
}
